.product-onglet_list {
    li {
        display: inline-block;
        background-color: $color-secondary;
        border-radius: 10px;
        padding: 0.5em;
        transition: all 0.2s ease-in-out;
        width: 30%;
        text-align: center;
        font-size: 2em;
    }
}

.product-onglet_list li.product-active,
.product-onglet_list li:hover{
    background-color: darken($color-secondary, 10);
    color: darken($color-primary, 25);
    cursor: pointer;
}

.product-onglet > div{
    display: none;
}

.product-onglet > div.product-active {
    display: block;
    box-shadow: 0 0 2px;
    border-radius: 15px;
    padding: 1px 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin-left: 30%;
    margin-right: 30%;
    height: auto;
    img{
        height: 300px;
        width: 350px;
        border-radius: 15px;
        margin: 5px;
    }
}
.photo-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        font-size: 2em;
        font-style: bold;
        margin: 5px;
    }
}
.photo-text {
    display: flex;
    height: 80%;
    align-items: center;
}
.text-description {
    font-size: 1.3em;
    margin-left: 10px;
}
